.footer-address p {
  color: $white-color;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 9px;
}

.footer-contacts {
  display: block;
  color: $accent-secondary-color;
  font-style: normal;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-contacts.mail {
  margin-bottom: 9px;
  margin-top: 0;
}
